body {
    padding: 0 15px 200px 15px;
}
html * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
td .body {
    min-width: 400px;
}
img {
    max-height: 100%;
    max-width: 100%;
}

.btn-outline-primary {
    color: rgb(167, 97, 45) !important;
    border-color: rgb(167, 97, 45) !important;
    background-color: rgb(255, 255, 255) !important;
}
.btn-outline-primary:hover {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(167, 97, 45) !important;
    background-color: rgb(167, 97, 45) !important;
}
.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(167, 97, 45) !important;
    border-color: rgb(167, 97, 45) !important;
}
.btn-primary:hover {
    color: rgb(167, 97, 45) !important;
    border-color: rgb(167, 97, 45) !important;
    background-color: rgb(255, 255, 255) !important;
}
.btn-link           { color: rgba(167, 97, 45, 1); }
.btn-link:hover     { color: rgba(167, 97, 45, 1); }
.btn-link:visited   { color: rgba(167, 97, 45, 1); }
a           { color: rgba(167, 97, 45, 1) !important; }
a:hover     { color: rgba(167, 97, 45, 1) !important; }
a:visited   { color: rgba(167, 97, 45, 1) !important; }

table {
    width: 100%;
    height: 100%;
}
.table {
    table-layout: fixed;
}
.table * {
    text-align: left !important;
    overflow: hidden;
}
tbody {
    width: 100% !important;
    display: table;
}
.align-center {
    text-align: center;
}

.search-input {
    cursor: pointer;
    position: relative;
}
.search-offers {
    position: absolute;
    background-color: white;
    border: 1px rgba(212,212,212,0.8) solid;
    width: 100%;
    min-height: 3em;
    padding: 1em 0;
}
.search-offer {
    padding: 0 1em;
}
.search-offer:hover {
    background-color: rgba(212,212,212,0.8);
}
.offer-selected {
    background-color: rgba(212,212,212,0.8);
}
.search {
    width: calc(100% - 64px);
    display: inline-block;
}
.bi-search {
    display: inline-block;
    margin-left: 8px;
}
td {
    padding: 5px;
}
table.window > tbody > tr > td:nth-child(1), table.window > tbody > tr > td:nth-child(3) {
    min-width: 20%;
    max-width: 20%;
    width: 20%;
}
table.window > tbody > tr > td:nth-child(2) {
    min-width: 400px !important;
    width: 60%;
}
table.window > tbody > tr > td:nth-child(3) {
    text-align: right;
}
td.menu {
    vertical-align: top;
}

.d-grid {
    display: grid;
}
@media (min-width: 576px) {
    .d-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .d-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .d-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .d-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}
ul:not(.body ul) {
    padding-inline-start: 0px;
}
.menu > div > b {
    display: block;
    width: 100%;
    text-align: center;
}
.menu ul, .top-menu ul, .articles_list ul {
    list-style: none;
}
.menu li {
    border: 1px #ddd solid;
}
.menu li, .articles_list li, .articles_list td {
    border: 1px #ddd solid;
    margin-bottom: -1px;
    position: relative;
}
.articles_list {
    font-size: calc(1em + 4px);
}
.menu li *:not(.menu_item_header), .articles_list li *:not(.menu_item_header), .articles_list td *:not(.menu_item_header) {
    margin: 0 3px;
}
.menu li *:last-child, .articles_list li *:last-child, .articles_list td *:last-child {
    margin-bottom: 3px;
}
.menu_item_header {
    background: linear-gradient(0, rgba(167, 97, 45, 0.15), #fff, rgba(167, 97, 45, 0.15));
    cursor: pointer;
    margin-bottom: 0px !important;
    padding: 3px 30px 3px 3px;
}
.menu li ul, .articles_list li ul {
    margin-top: 3px !important  ;
}
.menu ul img, .articles_list ul img {
    cursor: pointer;
}
.menu li a, .articles_list li a {
    /*margin-right: 30px !important;*/
}
.menu .open_arrow, .articles_list .open_arrow {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.top-menu {
    text-align: center;
}
.top-menu ul {
    margin-bottom: 3px;
}
.top-menu li {
    margin-right: 10px;
    display: inline-block;
    color: rgb(167, 97, 45);
}

/*table.performers td, table.performers th {
    vertical-align: top;
    border: 1px solid black;
    text-align: left;
}*/

.select {
    max-width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

.important {
    color: rgba(255, 25, 25, 1);
}
